<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet" >
    <style>
        html, body {
            width: 100%;
            height: 100%;
            font-family: 'Nanum Gothic', sans-serif;
        }

        .ProjectIntroduction_ProjectOutline {
            width: 900px;
            margin: 0 auto;
            text-align: center;
        }

        .ProjectIntroduction__ProjectCategory {
            color: #757575;
            font-size: 10px;
            background: #fafafa;
            padding: 4px;
            border: 1px solid #EAEAEA;
            border-radius: 3px;
        }

        .ProjectIntroduction__ProjectTitle {
            font-size: 28px;
        }

        .ProjectIntroduction__CreatorName {
            color: black;
            text-decoration: none;
        }

        .ProjectIntroduction__ProjectIntroductionMain {
            width: 950px;
            height: 400px;
            margin: 0 auto;
        }

        .ProjectIntroduction__ProjectCover {
            height: 400px;
        }

        .ProjectIntroduction__ProjectIntroductionMainColumn {
            float: left;
        }

        .ProjectIntroduction__FundingStatuss {
            float: right;
        }

        .ProjectIntroduction__StatusTitle {
            margin-bottom: 5px;
        }

        .ProjectIntroduction__StatusTitle, .ProjectIntroduction__StatusTitle {
            font-size: 13pt;
            font-weight: 700;
        }

        .ProjectIntroduction__Metric {
            margin-bottom: 20px;
        }

        .ProjectIntroduction__StatusValue {
            font-size: 20pt;
            font-weight: 800;
        }

        .ProjectIntroduction__Small {
            font-size: 8pt;
            font-weight: 400;
        }

        .ProjectIntroduction__FundingRate {
            font-size: 10pt;
            font-weight: 800;
        }

        .FundingInformation__FundingInformationInner {
            padding: 20px;
            margin-top: 10px;
            background: #fafafa;
            border: 0.5px solid #EAEAEA;
            border-radius: 5px;
        }

        .FundingInformation__FundingInformationInner > div {
            font-weight: 800;
        }

        .ProjectIntroduction__PrimaryButton-sc-1o2ojgb-21.lcgtza {
            display: inline-block;
            /*float: left;*/
            margin-right: 5px;
        }

        .FundingInformation {
            margin-bottom: 20px;
        }

        .ProjectIntroduction__ProjectOutlineInner-sc-1o2ojgb-3.fFIyMZ {
            margin-bottom: 40px;
        }

        .KCBYB {
            width: 315px;
            height: 55px;
            cursor: pointer;
            display: inline-block;
            outline: none;
            border: none;
            vertical-align: baseline;
            box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(0,0,0,0.1) inset;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-transition: opacity 0.1s ease,background-color 0.1s ease,color 0.1s ease,box-shadow 0.1s ease,background 0.1s ease;
            transition: opacity 0.1s ease,background-color 0.1s ease,color 0.1s ease,box-shadow 0.1s ease,background 0.1s ease;
            -webkit-tap-highlight-color: transparent;
            border-radius: 0.28571429rem;
            text-transform: none;
            text-shadow: none;
            font-weight: bold;
            font-style: normal;
            text-align: center;
            -webkit-text-decoration: none;
            text-decoration: none;
            color: rgba(0,0,0,.6);
            background-color: #e7e7e7;
            background-color: #fa6462;
            color: #fff;
            font-size: 1.1em;
            opacity: 1;
        }

        .fVHsGg {
            width: 55px;
            height: 55px;
            cursor: pointer;
            outline: none;
            border: none;
            vertical-align: baseline;
            box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(0,0,0,0.1) inset;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-transition: opacity 0.1s ease,background-color 0.1s ease,color 0.1s ease,box-shadow 0.1s ease,background 0.1s ease;
            transition: opacity 0.1s ease,background-color 0.1s ease,color 0.1s ease,box-shadow 0.1s ease,background 0.1s ease;
            -webkit-tap-highlight-color: transparent;
            border-radius: 0.28571429rem;
            text-transform: none;
            text-shadow: none;
            font-weight: bold;
            font-style: normal;
            text-align: center;
            -webkit-text-decoration: none;
            text-decoration: none;
            color: rgba(0,0,0,.6);
            background-color: #e7e7e7;
            font-size: 1.1em;
            opacity: 1;
        }
    </style>
</head>
<body>
<div class="header">
    <% include ./header.ejs %>
</div>
<div>
    <div class="ProjectIntroduction_ProjectIntroductionBackground">
        <div class="Container">
            <div class="ProjectIntroduction_ProjectIntroductionWrapper">
                <div class="ProjectIntroduction_ProjectOutline">
                    <div class="ProjectIntroduction__ProjectOutlineInner-sc-1o2ojgb-3 fFIyMZ">
                        <span class="ProjectIntroduction__ProjectCategory">액세서리</span>
                        <h1 class="ProjectIntroduction__ProjectTitle"><%=posts[0].title%></h1>
                        <div class="ProjectIntroduction__Creators">
                            <span class="ProfileImg"></span>
                            <a class="ProjectIntroduction__CreatorName"
                               href="https://tumblbug.com/u/dasedewadizokato/projects" target="_blank"
                               rel="noopener noreferrer"><%=posts[0].writer.userid%></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class='ProjectIntroduction__ProjectIntroductionMain'>
                <div class="ProjectIntroduction__ProjectIntroductionMainColumn">

                    <img class="ProjectIntroduction__ProjectCover" alt="기본 프로젝트 커버 이미지" src=<%=posts[0].image%>>
                </div>
                <div class="ProjectIntroduction__FundingStatuss">
                    <div class="ProjectIntroduction__Metric">
                        <div class="ProjectIntroduction__StatusTitle">모인금액</div>
                        <div class="ProjectIntroduction__StatusValue"><%=posts[0].sponsor.length * posts[0].price%>
                            <span class="ProjectIntroduction__Small">원</span><span
                                    class="ProjectIntroduction__FundingRate">&nbsp;<!-- react-text: 2161 --><%=posts[0].sponsor.length/posts[0].goal * 100%>
                                <!-- /react-text --><!-- react-text: 2162 -->%<!-- /react-text --></span>
                        </div>
                    </div>
                    <div class="ProjectIntroduction__Metric">
                        <div class="ProjectIntroduction__StatusTitle">남은시간</div>
                        <div class="ProjectIntroduction__StatusValue"><!-- react-text: 2166 -->25<!-- /react-text -->
                            <span class="ProjectIntroduction__Small">일</span>
                        </div>
                    </div>
                    <div class="ProjectIntroduction__Metric">
                        <div class="ProjectIntroduction__StatusTitle">후원자</div>
                        <div class="ProjectIntroduction__StatusValue"><%=posts[0].sponsor.length * 100%>
                            <span class="ProjectIntroduction__Small">명</span>
                        </div>
                    </div>
                    <div class="FundingInformation">
                        <div class="FundingInformation__FundingInformationInner">

                            <div>펀딩 진행중</div>
                            <span><!-- react-text: 2178 -->목표 인원인 <!-- /react-text --><!-- react-text: 2179 --><%=posts[0].goal%>
                                <!-- /react-text --><!-- react-text: 2180 -->명이 모여야만 결제됩니다.<!-- /react-text --><br>
                                <!-- react-text: 2182 -->결제는 <!-- /react-text --><!-- react-text: 2183 -->2019년 10월 15일
                                <!-- /react-text --><!-- react-text: 2184 -->에 다함께 진행됩니다.<!-- /react-text --></span>
                        </div>
                    </div>
                    <div class="ProjectIntroduction__ProjectButtons-sc-1o2ojgb-19 fHOYOE">
                        <div class="ProjectIntroduction__ProjectButtonsInner-sc-1o2ojgb-20 frPGIq">
                            <div class="ProjectIntroduction__PrimaryButton-sc-1o2ojgb-21 lcgtza">
                                <button class="Button-sc-1x93b2b-0 KCBYB">프로젝트 밀어주기</button>
                            </div>
                            <div class="ProjectIntroduction__SecondaryButton-sc-1o2ojgb-22 cbkMWz">
                                <button class="Button-sc-1x93b2b-0 fVHsGg"><i class="_1QY7TzdLHKX3-BKPDNNYKF"></i>
                                    <svg width="20px" height="22px" viewBox="0 0 20 22" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <title>ic_share_B</title>
                                        <g id="PC" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <g id="Asset" transform="translate(-152.000000, -414.000000)">
                                                <g id="btn_share-copy-2" transform="translate(131.000000, 399.000000)">
                                                    <g id="ic_share_B" transform="translate(19.000000, 14.000000)">
                                                        <g id="ic_share">
                                                            <rect id="Rectangle-Copy-9" fill-rule="nonzero" x="0" y="0"
                                                                  width="24" height="24"></rect>
                                                            <g id="share-2" transform="translate(3.000000, 2.000000)"
                                                               stroke="#5C5C5C" stroke-linecap="round"
                                                               stroke-linejoin="round" stroke-width="2">
                                                                <circle id="Oval" cx="15" cy="3" r="3"></circle>
                                                                <circle id="Oval" cx="3" cy="10" r="3"></circle>
                                                                <circle id="Oval" cx="15" cy="17" r="3"></circle>
                                                                <path d="M5.59,11.51 L12.42,15.49" id="Path"></path>
                                                                <path d="M12.41,4.51 L5.59,8.49" id="Path"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>