<html>
<head>
    <meta charset="utf-8">
    <title>Alice_Coffret-sale_list</title>
    <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
    <div class="header">
        <% include ./header.ejs %>
    </div>
    <div class="content">
        <% if(!session.productInfo){ %>
        Null!!!!
        <% } 
        var category=["All","Earring","Piercing","Ring","Wristband","Necklace","Choker","Clock","Brooch","Hairclip"];
        %>
        <div class="tabs_box">
            <ul class="tabs">
                <li class="active" rel="<%=category[0] %>" name="<%=category[0] %>">전체</li>
                <li rel="<%=category[1] %>" name="<%=category[1] %>">귀걸이</li>
                <li rel="<%=category[2] %>" name="<%=category[2] %>">피어싱</li>
                <li rel="<%=category[3] %>" name="<%=category[3] %>">반지</li>
                <li rel="<%=category[4] %>" name="<%=category[4] %>">팔찌</li>
                <li rel="<%=category[5] %>" name="<%=category[5] %>">목걸이</li>
                <li rel="<%=category[6] %>" name="<%=category[6] %>">초커</li>
                <li rel="<%=category[7] %>" name="<%=category[7] %>">시계</li>
                <li rel="<%=category[8] %>" name="<%=category[8] %>">브로치</li>
                <li rel="<%=category[9] %>" name="<%=category[9] %>">머리핀</li>
            </ul>
        </div>
        <div class="child-page-listing" >
            <h2></h2>
            <div>
                <input class="btn1" style="float: right; margin-bottom: 20px;" type="button" onclick="javascript:window.location='/sale_post'" value="글작성">
            </div>
            <% for(var k=0;k< category.length; k++ ){ 
                var list=[];
                if(category[k]=="All"){
                    list=session.productInfo.all_list;    
                }
                else if(category[k]=="Earring"){
                    list=session.productInfo.earring_list;    
                }else if(category[k]=="Ring"){
                    list=session.productInfo.ring_list;
                } 
            %>
            <div class="tab_container" style="clear: both;">
                <div id="<%=category[k] %>" class="tab_content">
                    <div class="grid-container">
                        <% for(var i=0; i< list.length; i++){ %>
                        <article id="" class="location-listing">
                            <div class="location-image">
                                <a href="#" class="portfolio-link" data-toggle="modal"
                                    onclick="javascript:window.location='/product/detail?productId=<%=list[i]._id %>'">
                                    <img width="300" height="169" src=<%=list[i].thumbnail %> />
                                </a>
                            </div>
                            <div class="portfolio-caption">
                                <h4 style="color: #6a3cff;"><%= list[i].product_name %></h4>
                                <p class="text-muted" style="color: #6a3cff; font-size: 10pt;">
                                   <%= list[i].name %>
                                </p>
                                <div class="tag_box">
                                    <% for(var j=0; j< list[i].tag.length; j++){
                                                                var tag=list[i].tag[j]
                                                                var tag_code
                                                                if(tag=="봄"){
                                                                    tag_code="tag_spring"
                                                                }else if(tag=="여름"){
                                                                    tag_code="tag_summer"
                                                                }else if(tag=="가을"){
                                                                    tag_code="tag_fall"
                                                                }else if(tag=="겨울"){
                                                                    tag_code="tag_winter"
                                                                }else if(tag=="큐트"){
                                                                    tag_code="tag_cute"
                                                                }else if(tag=="화려"){
                                                                    tag_code="tag_brilliant"
                                                                }else if(tag=="우아"){
                                                                    tag_code="tag_luxury"
                                                                }else if(tag=="심플"){
                                                                    tag_code="tag_simple"
                                                                } %>
                                    <span class=<%= tag_code %>><%= list[i].tag[j] %></span>
                                    <% } %>
                                </div>
                            </div>
                        </article>
                        <% } %>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <div class="footer">
            <% include ./footer.ejs %>
        </div>

        <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="../public/react/button.js"></script>
</body>

</html>
<script>

    $(function () {

        $(".tab_content").hide();
        $(".tab_content:first").show();
        $(".child-page-listing h2").text($("ul.tabs li").attr('name'))
        $("ul.tabs li").click(function () {
            var tagName = $(this).attr('name')
            $(".child-page-listing h2").text(tagName)
            $("ul.tabs li").removeClass("active").css("color", "#333");
            //$(this).addClass("active").css({"color": "darkred","font-weight": "bolder"});
            $(this).addClass("active").css("color", "#6a3cff");
            $(".tab_content").hide()
            var activeTab = $(this).attr("rel");
            $("#" + activeTab).fadeIn()
        });
    });
</script>