<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>글 조회 페이지</title>
		
		<link href="/public/stylesheets/semantic.min.css" rel="stylesheet" >
		<link href="/public/cleditor/jquery.cleditor.css" rel="stylesheet" />
		
		<style>
			* {
				padding:0;
				margin:0;
				box-sizing:border-box;
			}
			
			html {
				width:100%;
				height:100%;
			}
			
			body {
				width:100%;
				height:100%;
				color: #000;
				background-color: #fff;
			}
					
			.container {
				margin-right: auto;
				margin-left: auto;
				padding-left: 20px;
				padding-right: 20px;
			}
	
			span {
				color: #999;
			}
			.meta{
				clear: both;
				margin-top: 40px;

			}
			
			#titleOutput {
				margin:0 0 10px 0;
				float: left;
				line-height: 1.2em;
				font-size: 25px;
			}
			#topOutput{
				display: block;
				margin-bottom: 15px;
			}
			#imageOutput{
				float: right;
			}
			
			#contentsOutput {
				margin-top: 10px;
				margin-bottom: 10px;
				line-height: 1.8em;
			}

			.questionModify {
				max-width: 44px;
			}

			.commentModify {
				max-width: 15px;
				float: right;
				margin-right: 15px;
			}
	  
			#board_title {
				font-size:1.2em;
				font-weight:bold;
				color:teal;
			}
			.right floated author{
				float: left;
			}
			#save{
				background-color: #e0e0e0;
				color: rgba(0,0,0,.6);
				font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
				margin: 0 .25em 0 0;
				padding: .78571em 1.5em;
				text-transform: none;
				text-shadow: none;
				font-weight: 700;
				line-height: 1;
				font-style: normal;
				text-align: center;
				text-decoration: none;
				background-image: none;
				border-radius: .2857rem;
				shape-margin: 0px;


			}
			#comentInput {
				width:40em;
				height: 5em;
				margin-bottom: 1.5em;

			}

			.conten2>div>span {
				float: right;
			}

			.hide {
				display: none;
			}

		</style>
		<link href="/public/css/header.css" rel="stylesheet" >
		<link href="/public/css/footer.css" rel="stylesheet" >

		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/public/javascript/semantic.min.js"></script>
		<script src="/public/cleditor/jquery.cleditor.min.js"></script>
		<script type="text/javascript">
			function deleteComment(questionId, commentId){

				var form = document.createElement("form");
				form.setAttribute("charset", "UTF-8");
				form.setAttribute("method", "Post");  //Post 방식
				form.setAttribute("action", "/question/comment/delete"); //요청 보낼 주소

				var hiddenField = document.createElement("input");
				hiddenField.setAttribute("type", "hidden");
				hiddenField.setAttribute("name", "questionId");
				hiddenField.setAttribute("value", questionId);
				form.appendChild(hiddenField);

				var hiddenField = document.createElement("input");
				hiddenField.setAttribute("type", "hidden");
				hiddenField.setAttribute("name", "commentId");
				hiddenField.setAttribute("value", commentId);
				form.appendChild(hiddenField);

				document.body.appendChild(form);
				form.submit();
			}

			function deleteQuestion(questionId){
				var form = document.createElement("form");
				form.setAttribute("charset", "UTF-8");
				form.setAttribute("method", "Post");  //Post 방식
				form.setAttribute("action", "/question/delete"); //요청 보낼 주소

				var hiddenField = document.createElement("input");
				hiddenField.setAttribute("type", "hidden");
				hiddenField.setAttribute("name", "questionId");
				hiddenField.setAttribute("value", questionId);
				form.appendChild(hiddenField);

				document.body.appendChild(form);
				form.submit();
			}

			function updateQuestion(questionId){
				var form = document.createElement("form");
				form.setAttribute("charset", "UTF-8");
				form.setAttribute("method", "Get");  //get 방식
				form.setAttribute("action", "/question/update"); //요청 보낼 주소

				var hiddenField = document.createElement("input");
				hiddenField.setAttribute("type", "hidden");
				hiddenField.setAttribute("name", "questionId");
				hiddenField.setAttribute("value", questionId);
				form.appendChild(hiddenField);

				document.body.appendChild(form);
				form.submit();
			}

			function changeContent(commentId){
				$('.' + commentId + ' .hide').removeClass('hide');
				$('#content' + commentId).addClass('hide');
				$('#withContent' + commentId).addClass('hide');
			}

			function changeComment(commentId, postId){
				var form = document.createElement("form");
				form.setAttribute("charset", "UTF-8");
				form.setAttribute("method", "Post");  //Post 방식
				form.setAttribute("action", "/question/changeComment"); //요청 보낼 주소

				var hiddenField = document.createElement("input");
				hiddenField.setAttribute("type", "hidden");
				hiddenField.setAttribute("name", "commentId");
				hiddenField.setAttribute("value", commentId);
				form.appendChild(hiddenField);

				var hiddenField = document.createElement("input");
				hiddenField.setAttribute("type", "hidden");
				hiddenField.setAttribute("name", "postId");
				hiddenField.setAttribute("value", postId);
				form.appendChild(hiddenField);


				var hiddenField = document.createElement("input");
				hiddenField.setAttribute("type", "hidden");
				hiddenField.setAttribute("name", "content");
				hiddenField.setAttribute("value", $('#textArea' + commentId).val());
				form.appendChild(hiddenField);


				document.body.appendChild(form);
				form.submit();
			}
		</script>
		
	</head>
	<body>
	<div class="header">
		<% include ./header.ejs %>
	</div>

		<div class="container">
			<br>

			<div class="ui raised segment">
				<a class="ui blue ribbon label">QnA</a>
			
				
				<div class="ui blue fluid card">
					 <div class="content">
						<%
						   var curTitle = posts.title;
						   var curContents = posts.content;
						   var curWriter = posts.writer;

						   // html-entities module is required in post.js
						   var entities = new Entities();

						   var decodedContents = entities.decode(curContents);
						%>
						<div id = topOutput>
							<div id ="imageOutput">
								<%if (session.loginInfo._id == posts.writer._id) {%>
								<img class="one wide column questionModify" onclick="updateQuestion('<%=posts._id%>')" width="20" height="20" src="/public/images/question/pencil-tool.png">
								<img class="one wide column questionModify" onclick="deleteQuestion('<%=posts._id%>')" width="20" height="20" src="/public/images/question/close-button.png">
								<%}%>

							</div>
						<div id="titleOutput" class="header"><%=curTitle %></div> </div>
	   					<div class="meta">
	     						<span class="right floated time"><%=moment(posts.createdAt).format('YYYY-MM-DD hh:mm:ss')%></span>
	     						<span class="category">문의유형 : 
									<%if(posts.type=="1"){%>
										계정문의
									<%}else if(posts.type=="2"){%>
										결제/환불 문의
									<%}else if(posts.type=="3"){%>
										기타문의
									<%}else{%>
										문의
									<%}%>
							 </span>
	   					</div>
	   					<br id="contentsOutput" class="description">
							<%-decodedContents %>
					    </div>
	  				<div class="extra content">
	    				<div class="right floated author">
	      					작성자 : <%=curWriter.userid %> &nbsp;&nbsp;
	    				</div>
	  				</div>
					<%for(var i = 0; i < posts.comments.length; i++){%>
					<div class="extra conten2 <%=posts.comments[i]._id%>">
						<div class="floated author">
							<%=posts.comments[i].writer.userid%> <br>
							<div id="content<%=posts.comments[i]._id%>"><%=posts.comments[i].content%></div>
							<textarea id="textArea<%=posts.comments[i]._id%>" class='hide' style="margin: 0px 0px 10px; width: 561px; height: 60px; resize: none;"><%=posts.comments[i].content%></textarea>
							<div><%=moment(posts.comments[i].createdAt).format('YYYY-MM-DD hh:mm:ss')%>
								<%if (session.loginInfo._id == posts.comments[i].writer._id) {%>
								<span id="withContent<%=posts.comments[i]._id%>">
									<img class="commentModify" onclick="deleteComment('<%=posts._id%>', '<%=posts.comments[i]._id%>')" src="/public/images/question/close-button.png">
									<img class="commentModify" onclick="changeContent('<%=posts.comments[i]._id%>')" src="/public/images/question/pencil-tool.png">
								</span>
								<span id="withTextArea<%=posts.comments[i]._id%>" class="hide">
									<img class="commentModify" onclick="changeComment('<%=posts.comments[i]._id%>', '<%=posts._id%>')" src="/public/images/question/pencil-tool.png">
								</span>
								<%}%>
							</div>
						</div>
					</div>
					<%}%>
					<div class="extra content2">
						<h5>댓글</h5><br>
						<form method="post" action="/question/addcoment">
							<input type="hidden" name="qId" value="<%=posts._id%>">
							<input name="content" id="comentInput" type="text"><br>
							<input type="submit" id="save" value="등록">
						</form>
					</div>

				</div>
				
				<br><br><a class="ui button" href='/question'>글 목록</a>
				
			</div>
			
		</div>
		<div class="footer">
				<% include ./footer.ejs %>
		</div>	
	</body>
</html>

